body {
	font-family: 'Open Sans', Tahoma, Arial, sans-serif;
	font-size: 1.2em;
	letter-spacing: 0.2px;
	line-height: 1.5;
	padding: 0;
	margin: 0 2em;
}

#content {
	max-width: 50em;
	margin: 0 auto;
}

body {
	text-align: center;
}

body p#status {
	font-size: 6em;
	font-weight: bold;
	margin: 0.5em;
}